{% extends 'main.html' %}

{% block content %}
<div class="page-container">
	<div class="container-backdrop">
	  <div class="container" style="text-align: center;">
		<div class="card form-container">
		  <div class="card-header"><h3>Enter new password</h3></div>
		  <div class="card-body" style="overflow: auto;">
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

			<form method="post">

				{% csrf_token %}
				{{form}}
				<input type="Submit" name="Update Password">
	
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}