asgiref==3.5.2
contourpy==1.0.5
cycler==0.11.0
Django==4.1.1
django-class-auth-views==1.0.2
django-cleanup==6.0.0
django-unused-media==0.2.2
fonttools==4.37.2
kiwisolver==1.4.4
llvmlite==0.37.0
matplotlib==3.6.0
maturin==0.12.4
numba==0.54.1
numpy==1.20.3
packaging==21.3
pandoc==2.2
Pillow==9.2.0
plumbum==1.7.2
ply==3.11
pyparsing==3.0.9
python-dateutil==2.8.2
pywin32==304
semantic-version==2.8.5
setuptools-rust==1.1.2
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.0.1
tzdata==2022.2
