{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="card form-container shadowed">
      <div class="form-content">
        <form method="POST" action="">
            {% csrf_token %}
            <p>Are you sure you want to delete the file: "{{ file.name }}"?</p>
        
            <a href="{% url 'browse' %}">
              Go Back
            </a>

            <a href="{% url 'permanentDelete' file.id %}">
              <button type="button" class="btn btn-outline-danger">
                Confirm
              </button>
            </a>
        </form>
      </div>
    </div>
</div>

{% endblock content %}