{% extends 'main.html' %}

{% block content %}

<div class="card form-container shadowed">
    <div class="form-content">
        <div>
            <h1>{{ file.name }}</h1>
            <p>Last Updated: {{ file.updated }}</p>
        </div>
        <div>
            <h5>Tags</h5>
            <p>{{file.tags.name}}</p>
            <h5>Description</h5>
            <p>{{ file.description }}</p>
        </div>
        <div>
            <h5>Created</h5>
            <p>{{ file.created }}</p>
            <h5>Uploaded By</h5>
            <td><a href="{% url 'profile' file.uploader.id %}">{{file.uploader.username}}</a></td>
        </div>
        <hr>
        <div class="btn-group">
            <a href="{{ file.filedata.url }}" download>
                <button type="button" class="btn btn-primary">Download</button>
            </a>
            <button type="button" class="btn btn-success">Update</button>

            {% if request.user == file.uploader %}
            <a href="{% url 'delete_confirm' file.id %}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
            {% endif %}
        </div> 
    </div>
</div>

{% endblock content %}
