{% extends 'main.html' %}

{% block content %}

<div class="card form-container shadowed">
    <div class="form-content">
        <h2>{{file.name}}</h2><hr>
        <div>
            <div>
                <div>
                    <h4>
                        Details  
                        <a href="{% url 'edit' file.id %}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </h4>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Title</th>
                            <td>{{file.name}}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{file.description}}</td>
                        </tr>
                        <tr>
                            <th>Tags</th>
                            <td>{{file.tags.name}}</td>
                        </tr>
                        <tr>
                            <th>Paddocks</th>
                            <td>{{file.paddocks.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div>
                <div>
                    <h4>File Information</h4>
                    <table class="table table-bordered">
                        <tr>
                            <th>Last Updated</th>
                            <td>{{file.updated}}</td>
                        </tr>
                        <tr>
                            <th>Filesize</th>
                            <td>{{file.filedata.size}} Bytes</td>
                        </tr>
                        <tr>
                            <th>Uploader</th>
                            <td><a href="{% url 'profile' file.uploader.id %}">{{file.uploader.username}}</a></td>
                        </tr>
                        <tr>
                            <th>Upload Date</th>
                            <td>{{file.created}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div class="btn-group">
                        <a href="{{ file.filedata.url }}" download>
                            <button type="button" class="btn btn-success">Download</button>
                        </a>
                        <a href="{% url 'update' file.id %}">
                            <button type="button" class="btn btn-primary">Update</button>
                        </a>
                        {% if request.user == file.uploader %}
                        <a href="{% url 'delete_confirm' file.id %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        {% endif %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
