{% extends 'main.html' %}

{% block content %}
<div class="container">
  <div class="card form-container shadowed">
    <div class="form-content">
      <h3>Update File</h3>
      <hr>
      <div>
        <form method="post" enctype="multipart/form-data">
          <p>Select a file to replace the existing file with:</p>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
      <hr>
      <div>
        <p><a href="{{request.META.HTTP_REFERER}}">Go Back</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

