
<nav class="navbar navbar-expand-md navbar-dark shadowed" id="navbar">
  {% if request.user.is_authenticated %}
  <div class="navbar-collapse collapse w-50 order-1 order-md-0">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'browse' %}">Browse</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'upload' %}">Upload</a>
          </li>

      </ul>
  </div>
  <div class="mx-auto order-0">
    <form method="GET" action="{% url 'search' %}">
      <div class="input-group">
        <input type="text" class="form-control bg-dark text-white" name="q" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">Go</button>
        </div>
      </div>
      </form>
  </div>
  <div class="navbar-collapse collapse w-50 order-3">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Admin
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'audit_list' %}">Account Controls</a>
              <a class="dropdown-item" href="{% url 'recently_deleted' %}">Deleted Files</a>
              <hr>
              <a class="dropdown-item" href="/admin">Admin Portal</a>
            </div>
        </li>
        {% endif %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
      </ul>
  </div>
  {% else %}
  <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
      <a class="nav-link" href="https://www.uwa.edu.au/institutes/institute-of-agriculture/">UWA Institute of Agriculture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.uwa.edu.au/institutes/institute-of-agriculture/About-the-Institute-of-Agriculture">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.uwa.edu.au/institutes/institute-of-agriculture/News">News</a>
    </li>
  </ul>
  {% endif %}
</nav>


