{% extends "main.html" %}

{% block content %}

<div class="container card" style="margin-top: 50px;">
    <h2 style="text-align: center; color: crimson;">Recently Deleted</h2>
    <h6 style="text-align: center;"> <a href="{{request.META.HTTP_REFERER}}">Go Back</a> </h6>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">         
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Restore</th>
          <th>Uploaded</th>
          <th>Permanently Delete</th>
          
        </tr>
      </thead>
      <tbody id="myTable">
        {% for file in files %}
          <tr>
              <td><a href="{% url 'file' file.id %}">{{file.name}}</a></td>
              <td type="button" class="btn btn-secondary">Restore</td>
              <td>{{file.updated}}</td>
              <td type="button" class="btn btn-danger" style="text-align=center;">Delete</td>
              
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}