{% extends "main.html" %}
{% load static %}

<form method="GET" action="{% url 'search' %}">
  <input type="text" name="q" placeholder="Search"/>
</form>

{% block content %}
<div class="page-container">
  <div class="container-backdrop">
    <div class="map-container">
      <div class="row">
        <div class="col-sm-2" id="index-left-col" style="padding-right: 0px;">
          <div class="card" style="overflow: auto;">
            <div class="card-header">
              <h5>Recently Updated Files</h5>
            </div>
            <div class="card-body" id="index-recent-column">
              <table class="table table-bordered">
                <tbody>
                  {% for file in files %}
                  <tr>
                    <td><a href="{% url 'file' file.id %}" class="text-dark">{{file.name}}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>My Uploaded Files</h5>
            </div>
            <div class="card-body" id="index-uploaded-column">
              <table class="table">
                <tbody>
                  {% for upload in uploads %}
                  <tr>
                    <td><a href="{% url 'file' upload.id %}" class="text-dark">{{upload.name}}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-8" id="index-middle-col" style="padding-left: 0px; padding-right: 0px;">
          <div id="map-display">
            <a href="{% url 'browse' %}">
              <button class="btn btn-lg btn-primary shadowed" style="z-index: 0;">Browse All Files</button>
            </a>
          </div>
        </div>
        <div class="col-sm-2" id="index-right-col" style="padding-left: 0px;">
          <div class="card">
            <div class="card-header">
              <h5>Select by Paddock</h5>
              <input class="form-control" id="paddock-filter" type="text" placeholder="Filter...">
            </div>
            <div class="card-body" id="index-paddock-column">
              <ul style="list-style-type: none;" id="paddock-list">
                {% for paddock in paddocks %}
                  <li><a href="{% url 'paddock' paddock.id %}" class="text-dark">
                    {{paddock.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Select by Tag</h5>
              <input class="form-control" id="tag-filter" type="text" placeholder="Filter...">
            </div>
            <div class="card-body" id="index-tag-column">
              <ul style="list-style-type: none;" id="tag-list">
                {% for tag in tags %}
                  <li><a href="{% url 'tag' tag.id %}" class="text-dark">{{tag.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="page-container">
  <div id="map-container">
    
  </div>
</div>


<div class="container-fluid">
  <div>
    
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#paddock-filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#paddock-list li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function(){
    $("#tag-filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tag-list li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

{% endblock %}