{% extends "main.html" %}
{% load static %}

<form method="GET" action="{% url 'search' %}">
  <input type="text" name="q" placeholder="Search"/>
</form>

{% block content %}
<div class="container">
  <div id="index-search" class="shadowed">
  <form method="GET" action="{% url 'search' %}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="q" placeholder="Search">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Go</button>
    </div>
  </div>
  </form>
  </div>
</div>
<div class="container">
  <div class="card shadowed">
    <div id="map-container">
      <h5>Select by Paddock</h5>
      <h5>or 
        <a href="{% url 'browse' %}">
          <button class="btn btn-primary">Browse All</button>
        </a>
      </h5>
        <div id="map-display"></div>
      <h4>Select Paddock:</h4>
      <span class="text1">
        <ul style="columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3; list-style-type: none;">
      {% for paddock in paddocks %}
      <li></li><a id="list1" href="{% url 'browse' paddock.id %}">{{paddock.name}}</a></li>
      {% endfor %}</ul>
      </span>
    </div>
  </div>
</div>


{% endblock %}