{% extends 'main.html' %}

{% block content %}

<div class="page-container">
    <div class="container-backdrop">
      <div class="content-container">
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>Hi {{ user.username }}!</h1>
                </div>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="float">
                    <div class="userinfo1">
                        <h2 class="user-heading">Personal Details</h2>
                        <h4>Name</h4>
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                        <h4>Role</h4>
                        <p>{{ user.role.name }}</p>
                        <h4>Last Login</h4>
                        <p>Last Login: {{ user.last_login }}</p>
                        <h4>Recent Uploads</h4>
                        
                            {% for upload in uploads %}
                            <a href="{% url 'file' upload.id %}" class="text-dark">{{upload.name}}</a>
                            {% empty %}
                            <p>No files uploaded recently.</p>
                            {% endfor %}

    
                    </div>
                    <div class='userinfo2'>
                        <h2 class="user-heading">User Bio</h2>
                        <h4>Bio</h4>
                        <p class="userbio">{{ user.bio }}</p>
                        
                        <h4>Update User Bio</h4>
                        <form onsubmit="showbio()">
                            <textarea id="bioupdate" name="bioupdate" rows="4" cols="50">{{ user.bio }}</textarea>
                            <br>
                            <input type="submit" value="Submit">
                          </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


<!-- <script>
    function showbio() {
        let userbioinput = document.getElementsByID("bioupdate").innerHTML.value;
        document.getElementsByClassName("userbio").innerHTML = userbioinput;
    }
</script> -->

{% endblock content %}