{% extends "main.html" %}

{% block content %}

<div class="page-container">
  <div class="container-backdrop">
    <div class="content-container">
      <div class="card">
        <div class="card-header">
          <h2 style="text-align: center; color: crimson;">
            <strong>Deleted Files</strong>
          </h2>
        </div>
        <div class="card-body" style="overflow: auto;">
          <!-- <h5 style="text-align: center;">
            <a style="color: forestgreen" href = "{% url 'cleanDatabase' %}">
              Clean Database 
            </a>
          </h5> -->
          <input class="form-control" id="myInput" type="text" placeholder="Search.."><br>      
            <table class="table table-hover">
              <thead>
                <tr class="th-grey">
                  <th>Filename</th>
                  <th>Uploaded</th>
                  <th>Deleted</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for file in files %}
                  <tr>
                      <td><a href="{% url 'file' file.id %}">{{file.name}}</a></td>
                      <td>{{file.created}}</td>
                      <td>{{file.updated}}</td>
                      <td>
                        <a href="{% url 'fileRestore' file.id %}">
                          <button type="button" class="btn btn-dark">
                            Restore
                          </button>
                        </a>
                        <a href="{% url 'delete_confirm' file.id %}">
                          <button type="button" class="btn btn-danger">
                            Delete
                          </button>
                        </a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <h5 style="text-align: center;">
              <a style="color: crimson" href = "{% url 'deleteAllConfirm' %}">
                <button type="button" style="width:100%" class="btn btn-danger">
                  Delete All
                </button>
              </a>
            </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}