:root {
    --navbar: rgba(0, 0, 0, 0.82);
}

body {
    background-image: url("background.jpg");
    background-size: cover;
}

/* Header */
#header {
    overflow: auto;
    background-image: linear-gradient(to right, rgb(13, 19, 37) , rgb(35, 57, 131));
}
#header-logo {
    background-color: white;
    padding: 5px 20px;
    float: left;
}
#header-title {
    float: left;
    padding: 10px 20px;
}
#header-text {
    color: white;
    font-size: 23px;
    text-decoration: none;
    letter-spacing: 2px;
}
#navbar {
    background-color: var(--navbar);
}

.footer {
    width: 100%;
    padding-top: 10px;
    background: var(--navbar);
}

#footer-bar {
    background-color: rgb(13, 19, 37);
}

.content-container {
    padding: 10px 100px;
}

.container-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: calc(100vh - 177px);
    margin: 0px 60px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-container {
    margin: 10px 250px;
}

.form-content {
    text-align: center;
    margin: 50px;
}

.content-container {
    margin: 0px 40px;
}

.map-container {
    text-align: center;
    margin: 0px 12vh;
    height: 86vh;
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1000px) {
    #map-display {
        background-image: url("map.png");
        background-size: cover;
        padding-left: 0%;
        height: 88.5vh;
        padding-top: 20px;}

    #index-tag-column, #index-paddock-column {
    overflow-y: scroll; 
    text-align: left;
    height: 29.7vh;}

#index-recent-column {
    text-align: left;
    overflow-x: scroll;
    padding: 0px;
    height: 37vh;}

#index-uploaded-column {
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    height: 29.5vh;}
}

@media screen and (max-width: 1500px) {
    #map-display {
        background-image: url("map.png");
        background-size: cover;
        padding-left: 0%;
        height: 88.5vh;
        padding-top: 20px;}

    #index-tag-column, #index-paddock-column {
    overflow-y: scroll; 
    text-align: left;
    height: 29.7vh;}

#index-recent-column {
    text-align: left;
    overflow-x: scroll;
    padding: 0px;
    height: 37vh;}

#index-uploaded-column {
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    height: 29.5vh;}
}

@media only screen and (min-width: 1500px) and (max-width: 1900px) {
    #map-display {
    background-image: url("map.png");
    background-size: cover;
    padding-left: 0%;
    margin-left: 0%;
    height: 89vh;
    padding-top: 20px;}

    #index-tag-column, #index-paddock-column {
    overflow-y: scroll; 
    text-align: left;
    height: 30vh;}

#index-recent-column {
    text-align: left;
    overflow-x: scroll;
    padding: 0px;
    height: 35vh;}

#index-uploaded-column {
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    height: 31.5vh;}
}

@media only screen and (min-width: 1900px) and (max-width: 3000px) {
    #map-display {
    background-image: url("map.png");
    background-size: cover;
    padding-left: 0%;
    margin-left: 0%;
    height: 88vh;
    padding-top: 20px;}

    #index-tag-column, #index-paddock-column {
    overflow-y: scroll; 
    text-align: left;
    height: 35vh;}

#index-recent-column {
    text-align: left;
    overflow-x: scroll;
    padding: 0px;
    height: 45vh;}

#index-uploaded-column {
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    height: 32vh;}
}

@media only screen and (min-width: 3000px) and (max-width: 4000px) {
    #map-display {
    background-image: url("map.png");
    background-size: cover;
    padding-left: 0%;
    margin-left: 0%;
    height: 88vh;
    padding-top: 20px;}

    #index-tag-column, #index-paddock-column {
    overflow-y: scroll; 
    text-align: left;
    height: 37.5vh;}

#index-recent-column {
    text-align: left;
    overflow-x: scroll;
    padding: 0px;
    height: 44vh;}

#index-uploaded-column {
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    height: 36vh;}
}

@media only screen and (min-width: 4000px) and (max-width: 10000px) {
#map-display {
    background-image: url("map.png");
    background-size: cover;
    padding-left: 0%;
    margin-left: 0%;
    height: 91.5vh;
    padding-top: 20px;}

#index-tag-column, #index-paddock-column {
    overflow-y: scroll; 
    text-align: left;
    height: 41.2vh;}

#index-recent-column {
    text-align: left;
    overflow-x: scroll;
    padding: 0px;
    height: 44vh;}

#index-uploaded-column {
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    height: 42vh;}
}

@media only screen and (min-width: 5000px) and (max-width: 50000px) {
    #map-display {
        background-image: url("map.png");
        background-size: cover;
        padding-left: 0%;
        margin-left: 0%;
        height: 91.5vh;
        padding-top: 20px;}
    
    #index-tag-column, #index-paddock-column {
        overflow-y: scroll; 
        text-align: left;
        height: 41.2vh;}
    
    #index-recent-column {
        text-align: left;
        overflow-x: scroll;
        padding: 0px;
        height: 44vh;}
    
    #index-uploaded-column {
        text-align: left;
        overflow-x: scroll;
        overflow-y: scroll;
        padding: 0px;
        height: 42vh;}
    }

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6)
}

.th-grey {
    background-color: rgb(211, 211, 211);
}

.filterbar {
    width: 30%;
    float: right;
}


#accountsTable_filter {
    float: right;
}

#fileTable_info,
#accountsTable_info,
#fileTable_length,
#accountsTable_length {
    float: left;
    color: darkslategrey;
}

#fileTable_paginate,
#accountsTable_paginate {
    text-decoration: none;
    text-align: center;
    float: right;
}

.current,
.previous,
.next {
    font-weight: bolder;
}

#list1 {font-size:20px; color:black; border-radius: 10%;}

.red {background-color: rgb(143, 69, 69);}

.grey {background-color: grey;}

.sort:hover {cursor: pointer; background-color: rgb(201, 125, 136);}

td, th, tr {text-align: center;}

.dataTables_wrapper .dataTables_paginate .paginate_button {padding: 5px; text-decoration: none; cursor: pointer; text-align: left;}

.float {display: flex; text-align: center;}

.userinfo1 {background: rgb(186, 244, 186);flex-basis: 50%; margin: 10px;}

.userinfo2 {background: rgb(186, 244, 186); flex-basis: 50%; margin: 10px;}

.user-heading {background-color: rgb(186, 244, 186); border-bottom: solid black; border-top: solid black}

.light-grey {background-color: rgb(230, 227, 227);}