{% extends 'main.html' %}

{% block content %}
<div class="page-container">
  <div class="container-backdrop">
    <div class="container" style="text-align: center;">
      <div class="card form-container">
        <div class="card-header"><h3>Confirm Deletion</h3></div>
        <div class="card-body" style="overflow: auto;">
          <form method="POST" action="">
            {% csrf_token %}
            <p>Are you sure you want to delete the file: "{{ file.name }}"?</p>
        
            <a href="{% url 'browse' %}">
              Go Back
            </a>

            <a href="{% url 'permanentDelete' file.id %}">
              <button type="button" class="btn btn-outline-danger">
                Confirm
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}