{% extends 'main.html' %}

{% block content %}
<div class="page-container">
  <div class="container-backdrop">
    <div class="container" style="text-align: center;">
      <div class="card form-container">
        <div class="card-header"><h3>Update File</h3></div>
        <div class="card-body" style="overflow: auto;">
          <div>
            <form method="post" enctype="multipart/form-data">
              <div class="alert alert-primary">
                Select a file to replace the existing copy with
              </div>
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
          <hr>
          <div>
            <p><a href="{{request.META.HTTP_REFERER}}">Go Back</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

